.main-header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    color: #000;
    z-index: 5;
    padding: 5rem 10rem 0 10rem;
  }
  
  @media only screen and (max-width: 600px) {
    .main-header {
      padding: 2rem 2rem 0 2rem;
    }
  }